<template>
	<view>
		<view class="article">
			<view v-for="(item,index) in list" :key="index">
				<view class="imgBoxs"><image :src="item.imgList" mode="widthFix" :style="item.imgList === '' ? 'display:none' : ''"></image></view>
				<view class="contentBoxs">
					<text :class="index == 0 ?'titleBox':''">{{ item.text }}</text>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			list: []
		};
	},
	methods: {},
	onLoad(options) {
		var jsonData = require('../../../localData/Data.js');
		var test0 = jsonData.dataList;
		this.list = test0[options.index];
		uni.setNavigationBarTitle({
		    title: (this.list[0].text) 
		})
	}
};
</script>

<style lang="scss" scoped>
.article {
	width: 90vw;
	min-height: 100vh;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 60px;
	font-size: 16px;
	image {
		margin: 10px 0;
		width: 100%;
	}
}

.titleBox{
	font-size: 32px;
	font-weight: 600;
	line-height: 32px;
}

.imgBoxs {
	text-align: center;
}
</style>
