<template>
	<view class="content" id="main">
		<!-- 头部区 -->
		<view class="logo">
			<view class="logoBox">
                    <swiper class="swiper" :indicator-dots="indicatorDots" :autoplay="autoplay" :interval="interval" :duration="duration">
                        <swiper-item v-for="(item,index) in list" :key="index">
                            <view class="swiper-boxs">
								<image :src="item.src" mode="scaleToFill"></image>
							</view>
                        </swiper-item>
                    </swiper>
                </view>
		</view>
		<view class="tagBox" :style="fixedBox">
			<ul>
				<li class="tags"><a href="/">#全部#</a></li>
				<p class="clearBoth"></p>
			</ul>
		</view>

		<!-- 内容区 -->
		<view id="salyt" style="margin-top: 90px;">
			<view class="content-box">
				<view v-for="(item, index) in list" :key="index">
					<view :class="index == 0 ? 'item_box' : 'item-box'">
						<navigator :url="item.type == 0 ? '/pages/index/video/video?index=' : '/pages/index/article/article?index='+index">
							<view class="item-img">
								<image class="imgContent" :src="item.src" mode="widthFix"></image>
								<!-- <image :class="item.type == 0 ? 'video-btn' : 'none'" src="/static/image/播放.png"></image> -->
							</view>
							<view class="item-text">{{ item.text }}</view>
						</navigator>
					</view>
				</view>
			</view>
		</view>

	</view>
</template>

<script>
export default {
	data() {
		return {
			title: 'hello',
			loading: true,
			list: [],
			noMargin: 'margin-top = 0',
			fixedBox: '',
			
			// 轮播图数据
			background: ['color1', 'color2', 'color3'],
            indicatorDots: true,
            autoplay: true,
            interval: 3000,
            duration: 500
		};
	},

	onPageScroll: function() {
		// 顶部跟随
		var _this = this;
		uni.createSelectorQuery()
			.select('#salyt')
			.boundingClientRect(function(rects) {
				if (rects.top <= 78) {
					_this.fixedBox = 'position:fixed;top:0;z-index:2;';
				} else if (rects.top > 78) {
					_this.fixedBox = '';
				}
			})

			.exec();
	},
	onLoad() {
		this.list = [
			{
				type: 1,
				src: 'http://p1.pstatp.com/large/pgc-image/78ea0af0487a4e1887719388fc685303',
				text: '不会夸女生的，赶紧记下来，一定用的上'
			},
			{
				type: 1,
				src: 'http://p3.pstatp.com/large/pgc-image/b8876d1f3310411780725fd3967228cb',
				text: '怎么夸到男人心里'
			},
			{
				type: 1,
				src: 'http://p9.pstatp.com/large/pgc-image/26390e6d4d884ffda6569e673cf3f067',
				text: '如何加强女生对你的好感？记住这些，帮你提高好感度'
			},
			{
				type: 1,
				src: 'http://p1.pstatp.com/large/pgc-image/34f6554634b74d9782e7de301a221b76',
				text: '表白就是这么简单，在恰当的时间说出恰当的话!520表白情话'
			},
			{
				type: 1,
				src: 'http://p1.pstatp.com/large/pgc-image/4c507dd1d2ac429bb6b295fd4474f9d9',
				text: '用彩虹屁夸男友，会是什么一种体验'
			},
			{
				type: 1,
				src: 'http://p1.pstatp.com/large/pgc-image/563736fe6a304cc2bc51f0f0035fafb1',
				text: '记住这些话，喜欢的人说了可别错过啊！！'
			},
		];
	},
	methods: {
		
	}
};
</script>

<style lang="scss" scoped>
.content {
	text-align: center;
}

.clearBoth {
	clear: both;
}

.tags {
	float: left;
	margin: 0 15upx;
	font-size: 14px;
	line-height: 25px;
}

.logo {
	width: 100%;
	height: 140px;
	line-height: 0;
}

.logoBox{
	height: 100%;
}

.swiper-boxs{
	height: 100%;
	width: 100%;
	image{
		width: 100%;
		height: 100%
	}
}

.tagBox {
	position: absolute;
	top: 153px;
	margin: 2px;
	box-sizing: border-box;
	height: 70px;
	box-shadow: 1px 1px 1px 1px darkgray;
	width: 99%;
	border-radius: 8px;
	padding: 10px 0;
	background-color: rgba(255, 255, 255, 0.9);
}

.content-box {
	-webkit-box-sizing: border-box;
	margin: 0 auto;
	margin-top: 8px;
	width: 100%;
	column-count: 2;
	column-width: 100%;
	padding: 0 5px 0 5px;
}

.item-box {
	margin-top: 10px;
	overflow: hidden;

	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
	counter-increment: item-counter;
	display: block;
}

.item_box {
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
	counter-increment: item-counter;
	display: block;
}

.item-img {
	position: relative;
	border-radius: 8px;
	width: 100%;
	font-size: 0px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
	counter-increment: item-counter;
}

.item-img .imgContent {
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
	counter-increment: item-counter;
}

.video-btn {
	position: absolute;
	z-index: 1;
	width: 40px;
	height: 40px;
	left: 50%;
	top: 50%;
	margin-left: -20px;
	margin-top: -20px;
}

.none {
	display: none;
}

.item-text {
	line-height: 18px;
	font-size: 12px;
	text-align: left;
	padding: 0 3px 3px 3px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;

	-webkit-box-orient: vertical; //box-orient 属性规定框的子元素应该被水平或垂直排列
	-webkit-line-clamp: 2; //元素能显示的文本行数
	-webkit-box-sizing: border-box; //让width=content+border+padding而不是content的width
	box-sizing: border-box;
	-webkit-column-break-inside: avoid; //   avoid值可以避免在元素内部断行并产生新列
	break-inside: avoid;
	counter-increment: item-counter; //计数器？？
}
</style>
