<template>
	<view style="background-color: #171a23;min-height: 100vh;">
		<!-- 顶部盒子 -->
		<view class="topBox">
			<text class="topText">按热度</text>
			<!-- <view class="topRight"><navigator url="/pages/index/tsk/taskPage/taskPage">求&nbsp;夸</navigator></view> -->
		</view>
		<!-- 任务内容区 -->
		<view style="padding-bottom: 40px;">
			<view class="content-box">
				<view v-for="(item, index) in list" :key="index" class="cntboxs" :style="index == 0 ? '' : 'margin-top:10px'">
					<view class="item-box">
						<navigator>
							<view class="item-img">
								<image class="imgContent" :src="item.src" mode="widthFix" :hidden="item.src == ''"></image>
								<view style="height: 10px; background-color: #fff;"></view>
							</view>
							<view style="height: 10px; background-color: #fff;"></view>
							<view class="item-text">{{ item.text }}</view>
							<view class="taskUser">
								<p style="font-size: 18px">{{ userName }}</p>
								<image class="icons" src="/static/image/love.png" mode="widthFix"></image>
								<text style="color: #BFBFBF;font-size: 15px;">12</text>
								<image
									class="userHead"
									src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1561388647206&di=7385c0fe695c19db9e835d0064bc67b4&imgtype=0&src=http%3A%2F%2Fi2.hdslb.com%2Fbfs%2Fface%2F4bee2defb3cd8b7deb57af102fe0a47ffb8bf1ec.jpg"
									mode="widthFix"
								></image>
							</view>
						</navigator>
					</view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			userName: '窃·格瓦拉',
			list: [
				{
					src:
						'https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1561388647206&di=01e87938c68a298907187a43174eb73f&imgtype=0&src=http%3A%2F%2Fn.sinaimg.cn%2Ffront%2F626%2Fw912h514%2F20190408%2F_SJi-hvhrcxn1255772.jpg',
					text: '只能靠偷电动车生活了'
				},
			]
		};
	}
};
</script>

<style lang="scss" scoped>
.topBox {
	vertical-align: middle;
	color: #fff;
	line-height: 30px;
	padding-top: 15px;
	margin-bottom: 20px;
}

.topText {
	margin-left: 10px;
	font-size: 20px;
	font-weight: 550;
}

.topRight {
	float: right;
	margin-right: 10px;
	padding: 0 15px;
	font-size: 16px;
	font-weight: 550;
	border-radius: 12px;
	background-color: #383838;
}

.content-box {
	-webkit-box-sizing: border-box;
	margin: 0 auto;
	width: 100%;
	column-count: 2;
	column-width: 100%;
	padding: 0 5px 0 5px;
}

.item-box {
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
	counter-increment: item-counter;
	display: block;
}

.item-img {
	position: relative;
	width: 100%;
	font-size: 0px;
	border-radius: 12px;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
	counter-increment: item-counter;
	margin-bottom: -10px;
}

.item-img .imgContent {
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-column-break-inside: avoid;
	break-inside: avoid;
	counter-increment: item-counter;
}

.none {
	display: none;
}

.item-text {
	padding: 0 10px;
	background-color: #fff;
	line-height: 18px;
	font-size: 12px;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;

	-webkit-box-orient: vertical; //box-orient 属性规定框的子元素应该被水平或垂直排列
	-webkit-line-clamp: 2; //元素能显示的文本行数
	-webkit-box-sizing: border-box; //让width=content+border+padding而不是content的width
	box-sizing: border-box;
	-webkit-column-break-inside: avoid; //   avoid值可以避免在元素内部断行并产生新列
	break-inside: avoid;
	counter-increment: item-counter; //计数器？？
}

.cntboxs {
	border-radius: 12px;
	overflow: hidden;
}

.taskUser {
	position: relative;
	background-color: #fff;
	padding: 10px 10px;
}

.icons {
	width: 15px;
}

.userHead {
	position: absolute;
	right: 10px;
	bottom: 10px;
	width: 50px;
	border-radius: 50px;
}
</style>
