<template>
	<view class="mainBox">
		<view class="content-box">
			<view></view>
			<!-- 视频内容区 -->
			<view class="video-content">
				<!-- :danmu-list="danmuList"
				enable-danmu
				danmu-btn -->
				<video
					id="myVideo"
					src="https://aweme.snssdk.com/aweme/v1/playwm/?s_vid=93f1b41336a8b7a442dbf1c29c6bbc568be3b5a5dfac3786ce92ee600de7e0e3c2ea81b87b4f547c999cdde4d6bc762acf5cd71e49cee6687352402edc91d0bd&line=0"
					ref="videoBox"
					controls
					@timeupdate="getvideoBtn"
					@error="videoErrorCallback"
				></video>
			</view>

		<!-- 下方盒子 -->
			<view class="danmuBox">
				<!-- <view class="uni-list-cell-db"><input v-model="danmuValue" class="uni-input" type="text" placeholder="在此处输入弹幕内容" /></view>
				<button @click="sendDanmu" class="page-body-button" type="primary">发送弹幕</button> -->
				<view style="margin-left: 20px;font-size: 12px;font-weight: 500px;">·&thinsp;·&thinsp;·</view>
				<view class="like">
					<image style="position: relative;top: -2px;" src="/static/image/love.png" mode="widthFix"></image><text style="margin-left:3px;">点赞</text>
				</view>
				<view class="comment">
					<image src="/static/image/comment.png" mode="widthFix"></image><text style="margin-left:3px;">评论</text>
				</view>
				<view class="shre">
					<image src="/static/image/wechat.png" mode="widthFix"></image><text style="margin-left:3px;">分享</text>
				</view>
				<text class="clearBoth"></text>
			</view>
		</view>
	</view>
</template>

<style lang="scss" scoped>
.mainBox {
	background-color: #000;
	min-height: 100vh;
}

.content-box {
	width: 100%;
	text-align: center;
}

.video-content {
	height: 90vh;
	video {
		width: 100%;
		height: 100%;
	}
}

.uni-list-cell-db {
	float: left;
	margin: 0 5px;
	box-sizing: border-box;
	box-shadow: 1px 1px 1px 1px darkgray;
	padding: 3px;
	height: 6vh;
	color: #fff;
	input {
		box-sizing: border-box;
		height: 6vh;
	}
}
.page-body-button {
	margin: 0 4px;
	margin-top: 2px;
	height: 6vh;
}

.danmuBox {
	position: relative;
	margin-top:20px;
	width: 100%;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	view{
		float: left
	}
	image{
		width: 22px;
		vertical-align: middle;
	}
}

.like{
	position: absolute;
	left: 25vw;
}

.comment{
	position: absolute;
	left: 50vw;
}

.shre{
	position: absolute;
	right: 20px;
	padding: 1px 10px;
	border-radius: 12px;
	background: #1afa29
}
</style>

<script>
export default {
	data() {
		return {
			src: ''
			// danmuList: [
			// 	{
			// 		text: '第 1s 出现的弹幕',
			// 		color: '#ff0000',
			// 		time: 1
			// 	},
			// 	{
			// 		text: '第 3s 出现的弹幕',
			// 		color: '#ff00ff',
			// 		time: 3
			// 	},
			// 	{
			// 		text: '测试弹幕',
			// 		color: '#27e103',
			// 		time: 4
			// 	}
			// ],
			// danmuValue: '',
			// timer: 0
		};
	},
	onReady: function(res) {
		// // #ifndef MP-ALIPAY
		// this.videoContext = uni.createVideoContext('myVideo');
		// // #endif
	},
	methods: {
		getvideoBtn: function(e) {
			this.timer = e.detail.currentTime;
		},
		// sendDanmu: function() {
		// 	console.log(this.timer);
		// 	this.videoContext.sendDanmu({
		// 		text: this.danmuValue,
		// 		color: this.getRandomColor()
		// 	});
		// 	let danmuList1 = {
		// 		text: this.danmuValue,
		// 		color: this.getRandomColor(),
		// 		time: Math.round(this.timer)
		// 	};
		// 	this.danmuList.push(danmuList1);
		// 	console.log(this.danmuList);
		// 	this.danmuValue = '';
		// },
		videoErrorCallback(e) {
			uni.showModal({
				content: e.target.errMsg,
				showCancel: false
			});
		}
		// getRandomColor: function() {
		// 	const rgb = [];
		// 	for (let i = 0; i < 3; ++i) {
		// 		let color = Math.floor(Math.random() * 256).toString(16);
		// 		color = color.length == 1 ? '0' + color : color;
		// 		rgb.push(color);
		// 	}
		// 	return '#' + rgb.join('');
		// }
	}
};
</script>
