<script>
export default {
	onLaunch: function() {
		console.log('App Launch'),
			uni.login({
				provider: '',
				success: function(res) {
					// 获取用户信息
					try{
						uni.clearStorageSync()
						console.log('清理成功')
					} catch(error) {
						console.log('清理失败')
					}
					uni.getUserInfo({
						provider: '',
						success: function(infoRes) {
							console.log('code为:'+res.code);
							console.log('anonymousCode为:'+res.anonymousCode);
							uni.setStorageSync('avatarUrl', infoRes.userInfo.avatarUrl);
							uni.setStorageSync('nickName', infoRes.userInfo.nickName);
							uni.showToast({
								title: '已登录！',
								duration: 1000
							});
						},
						fail: function(error) {
							uni.showToast({
								title: '请授权！',
								duration: 1000,
								icon:'none'
							});
						}
					});
				}
			});
			
	},
	onShow: function() {
		console.log('App Show');
	},
	onHide: function() {
		console.log('App Hide');
	}
};
</script>

<style>
/*每个页面公共css */
</style>
