<template>
	<view>
		<view class="header">
			<image class="userhead" src="/static/image/blackface.jpg" mode="widthFix"></image>
			<text class="userName">{{ userName }}</text>
			<text class="userIndex">您还不是会员哟</text>
		</view>

		<view class="contentBox">
			<view class="topBox">
				<text style="float: left;font-weight: 450;font-size: 22px;">VIP套餐</text>
				<text style="float: right;color: #A9A9A9;">服务协议></text>
				<view class="clearBoth"></view>
			</view>
			<view class="bottomBox">
				<view class="topBoxs" v-for="item in list" :key="item.key">
					<text class="leftBox">
						{{ item.time }}
						<text style="color:#D5AC53 ;">{{ item.newPrice }}</text>
						元
						<text style="margin-left:10px;text-decoration: line-through;color: #CCCCCC;">{{ item.oldPrice }}元</text>
					</text>
					<view class="rightBox"><text style="color: #FFFFFF;">开通</text></view>
					<view class="clearBoth"></view>
				</view>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			userName: '啥子哟',
			list:[
				{
					time:'3个月',
					newPrice:'58',
					oldPrice:'90',
					
				},
				{
					time:'6个月',
					newPrice:'108',
					oldPrice:'180',
					
				},
				{
					time:'年费',
					newPrice:'198',
					oldPrice:'360',
				},
				{
					time:'1个月',
					newPrice:'20',
					oldPrice:'30',
					
				},
			]
		};
	}
};
</script>

<style lang="scss" scoped>
.clearBoth {
	clear: both;
}

.header {
	position: relative;
	padding: 15px 15px;
	border-bottom: 15px solid rgba(176, 196, 222, 0.1);
}

.userhead {
	height: 60px;
	width: 60px;
	border-radius: 50px;
	margin-right: 10px;
}

.userName {
	position: absolute;
	top: 25px;
	font-size: 20px;
	font-weight: 450;
}

.userIndex {
	position: absolute;
	bottom: 25px;
	color: rgba(169, 169, 169, 1);
	font-size: 14px;
}

.contentBox {
	padding: 15px;
}

.topBox {
	margin-top: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgba(169, 169, 169, 0.3);
}

.leftBox {
	float: left;
	padding:8px 0px;
}

.rightBox{
	padding: 8px 25px;
	border-radius: 18px;
	background-color: #D5AC53;//rgb(213,172,83)
	float: right;
}

.topBoxs{
	line-height: 25px;
	vertical-align: middle;
	padding: 10px;
	border-bottom:1px solid rgba(169, 169, 169, 0.3);
}
</style>
