<template>
	<view style="height: 100vh;background-color:#171a23 ;">
		
		<view class="head">写下想被夸的事</view>

		<view class="content">
			<view class="contentText">
				<textarea class="textInput" cols="2" rows="6" style="overflow:hidden" v-model="text" maxlength="20" placeholder="请在此输入你想被夸的事哟~"></textarea>
				<text class="textLength">{{ text.length }}/20</text>
			</view>
			<view class="picture">+</view>
		</view>

		<view class="moneyBox">
			<view style="float: left;">
				<text>每人奖励</text>
				<input type="text" placeholder="0" />
				<text>元</text>
			</view>
			<view style="float: right;">
				<text>总发放</text>
				<input type="text" placeholder="0" />
				<text>个</text>
			</view>
		</view>

		<view class="referBtn">确&nbsp;认</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			text: ''
		};
	}
};
</script>

<style lang="scss" scoped>
.head {
	padding: 15px;
	color: #fff;
	font-size: 20px;
	font-weight: 550;
}

.content {
	position: relative;
	margin: 0 auto;
	width: 93%;
	height: 50vh;
	border-radius: 12px;
	overflow: hidden;
	background-color: #232632;
	margin-bottom: 15px;
}

.contentText {
	padding: 15px;
	color: #fff;
	font-size: 16px;
}

.textInput {
}

.textLength {
	position: absolute;
	bottom: 90px;
	right: 15px;
	color: #4e515d;
}

.picture {
	box-sizing: border-box;
	position: absolute;
	left: 15px;
	bottom: 15px;
	height: 60px;
	width: 60px;
	background-color: #171a23;
	border-radius: 12px;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
	color: #4e515d;
}

.moneyBox {
	margin: 0 15px;
	color: #fff;
	line-height: 26px;

	input {
		text-align: center;
		margin: 0 8px;
		width: 28px;
		display: inline-block;
		vertical-align: bottom;
		border-bottom: 1px solid #1a6758;
	}
}

.referBtn {
	position: absolute;
	bottom: 80px;
	margin-left: 5vw;
	width: 90vw;
	background-color: #5882f2;
	border-radius: 12px;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	color: #fff;
}

</style>
