<template>
	<view class="body">
		<!-- 用户信息 -->
		<view class="userBox">
			<view class="topBox">
				<image class="userhead" :src="userHead" mode="widthFix"></image>
				<br />
				<text>{{ userName }}</text>
			</view>
			<!-- <view class="autoBox">
				<navigator url="/pages/index/user/buy/buy">
					<image class="autoicon" src="/static/image/vip(1).png"></image>
					<text>开通VIP会员</text>
					<text class="right">></text>
				</navigator>
			</view> -->
		</view>

		<!-- 我的任务 -->
		<view class="autoBox">
			<image class="autoicon" src="/static/image/task.png" mode="aspectFit"></image>
			我的任务
			<image class="right" src="/static/image/dyh.png" mode="aspectFit"></image>
		</view>

		<!-- 我的收益 -->
		<view class="autoBox" style="border-bottom: 1px solid rgba(176, 196, 222, 0.3);">
			<image class="autoicon" src="/static/image/money.png" mode="aspectFit"></image>
			我的收益
			<image class="right" src="/static/image/dyh.png" mode="aspectFit"></image>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			userName: '您还没有登录',
			userHead: '/static/image/user.png',
			scrollTop: 0,
			old: {
				scrollTop: 0
			}
		};
	},
	methods: {},
	onLoad() {
		try {
			var name = uni.getStorageSync('nickName');
			var head = uni.getStorageSync('avatarUrl');
			if ((uni.getStorageSync('nickName') != '') & (uni.getStorageSync('avatarUrl') != '')) {
				this.userName = name;
				this.userHead = head;
			} else {
				uni.showToast({
					title: '您还未登录！',
					duration: 1200,
					icon:'none'
				});
			}
		} catch (error) {
			console.log(`getStorageSync调用失败`);
		}
	}
};
</script>

<style lang="scss" scoped>
.body {
	min-height: 100vh;
	overflow: hidden;
	background-color: rgba(176, 196, 222, 0.1);
}

.clearBoth {
	clear: both;
}

.userBox {
	text-align: center;
	background-color: #fff;
	padding-top: 1px;
}

.userhead {
	height: 60px;
	width: 60px;
	border-radius: 80px;
	overflow: hidden;
}

.topBox {
	margin-top: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(176, 196, 222, 0.3);
}

.autoBox {
	text-align: left;
	padding: 15px 0;
	vertical-align: bottom;
	line-height: 50px;
	margin-bottom: 15px;
	background-color: #fff;
}

.autoicon {
	float: left;
	height: 40px;
	width: 40px;
	margin: 0 5px;
}

.right {
	float: right;
	width: 30px;
	height: 30px;
	color: rgba(169, 169, 169, 0.4);
	margin-right: 8px;
	padding-top: 5px;
	vertical-align: bottom;
}
</style>
