<template>
	<view class="content-box">
		<view>
			<view class="videoBoxs" v-for="(item,index) in list" :key="index">
				<navigator style="position: relative;" :url="item.type == 0 ? '/pages/index/video/video?index=' : '/pages/index/article/article?index='+index">
					<image class="video-img" :src="item.src" mode="widthFix"></image>
					<!-- <image class="video-btn" src="/static/image/player.png" mode="widthFix"></image> -->
				</navigator>
				<view class="bottomBox">
					<text class="textBox" style="float: left;">{{ item.text }}</text>
					<view class="rightBox" style="right: 135px;">
						<image class="textBox icons" style="filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(149deg) brightness(105%) contrast(101%);" src="/static/image/love.png" mode="widthFix"></image>
						<text class="textBox">6k+</text>
					</view>
					<view class="rightBox" style="right: 75px;">
						<image class="textBox icons" style="filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(149deg) brightness(105%) contrast(101%);" src="/static/image/comment.png" mode="widthFix"></image>
						<text class="textBox">580</text>
					</view>
					<view class="wxfxBox">
						<image class="textBox icons" src="/static/image/wechat.png" mode="widthFix"></image>
						<text class="textBox">分享</text>
					</view>
				</view>
			</view>
		</view>
</view>
</template>

<script>
export default {
	data() {
		return {
			list: []
		};
	},
	onLoad() {
		this.list = [
			{
				id: 0,
				src:
					'http://p1.pstatp.com/large/pgc-image/78ea0af0487a4e1887719388fc685303',
				text: '不会夸女生的，赶紧记下来，一定用的上！'
			},
		];
	},
	methods: {
		// videoErrorCallback(e) {
		// 	uni.showModal({
		// 		content: e.target.errMsg,
		// 		showCancel: false
		// 	});
		// }
	}
};
</script>

<style lang="scss" scoped>
.content-box {
	min-height: 100vh;
	background-color: #e6e6e6;
}

.clearBoth {
	clear: both;
}

.videoBoxs {
	padding: 10px;
	margin-bottom: 8px;
	background-color: #fff;
	.video-img {
		width: 100%;
		height: 38vh;
		border-radius: 6px;
	}
}

.video-btn{
	position: absolute;
	top: 50%;
	margin-top:-25px;
	left: 50%;
	margin-left: -25px;
	width: 50px;
}

.bottomBox {
	position: relative;
	width: 100%;
	padding-bottom: 5px;
	height: 25px;
	font-size: 16px;
	line-height: 25px;
	vertical-align: middle;
}

.rightBox {
	position: absolute;
}

.textBox {
	width: 40vw;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.icons {
	width: 16px;
	height: 16px;
	margin-right: 5px;
	vertical-align: baseline;
}

.wxfxBox {
	position: absolute;
	padding: 0 5px;
	background-color: #1afa29;
	color: white;
	border-radius: 30px;
	right: 5px;
}

</style>
