<template>
	<view class="body">
		<view class="head">
			<image class="userHead" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1561388647206&di=7385c0fe695c19db9e835d0064bc67b4&imgtype=0&src=http%3A%2F%2Fi2.hdslb.com%2Fbfs%2Fface%2F4bee2defb3cd8b7deb57af102fe0a47ffb8bf1ec.jpg" mode="widthFix"></image>
			<p style="margin-left: 65px;">{{ userName }}</p>
			<text style="margin-left: 65px;">{{ time }}</text>
			<view class="money">
				<image style="width: 15px;" src="/static/image/moneys.png" mode="widthFix"></image>
				<text>悬赏{{ money }}元</text>
			</view>
		</view>
		<view class="content">{{ text }}</view>
		<view class="content-box">
			<view class="contentBoxs" style="margin-left: 15px;">
				<image class="icons" src="/static/image/praise.png" mode="widthFix"></image>
				<text>赞</text>
			</view>
			<view class="contentBoxs" style="position: absolute;left:35vw;">
				<image class="icons" src="/static/image/wxpy.png" mode="widthFix"></image>
				<text>分享好友</text>
			</view>
			<view class="contentBoxs" style="position: absolute;right: 15px;">
				<image class="icons" src="/static/image/shre.png" mode="widthFix"></image>
				<text>朋友圈</text>
			</view>
			<view class="clearBoth"></view>
		</view>
		<view class="bottom">
			<p>夸夸评论</p>
			<view class="comment">
				<image class="comUser" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1561388647206&di=7385c0fe695c19db9e835d0064bc67b4&imgtype=0&src=http%3A%2F%2Fi2.hdslb.com%2Fbfs%2Fface%2F4bee2defb3cd8b7deb57af102fe0a47ffb8bf1ec.jpg" mode="widthFix"></image>
				<view class="comTop">
					<text>{{userName}}</text>
				</view>
				<view class="like"><image class="icons" src="/static/image/love.png" mode="widthFix"></image>0</view>
				<text class="userCom">{{text}}</text>
				<text class="comTime">{{time}}</text>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	data() {
		return {
			userName: '窃·格瓦拉',
			time: '2019年06月20日 19:21',
			money: '6',
			text: '没有钱阿，只能靠偷这种东西维持一下生活啦———窃·格瓦拉'
		};
	}
};
</script>

<style lang="scss" scoped>
.clearBoth {
	clear: both;
}

.body {
	min-height: 100vh;
	width: 100vw;
	background-color: #171a23;
}

.head {
	position: relative;
	padding: 15px;
	p {
		color: #fff;
	}
	text {
		color: #4e515d;
		font-size: 14px;
	}
}

.userHead {
	width: 60px;
	height: 60px;
	border-radius: 50px;
	position: absolute;
}

.money {
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -7px;
	font-size: 14px;
	line-height: 14px;
	text {
		color: #fff;
	}
	image {
		vertical-align: bottom;
	}
}

.content {
	margin: 15px;
	color: #fff;
}

.content-box {
	position: relative;
	color: #404250;
	font-size: 15px;
}

.contentBoxs {
	display: inline-block;
}

.icons {
	width: 15px;
	vertical-align: middle;
	display: inline-block;
	margin-right: 5px;
}

.bottom{
	margin: 15px;
	p{
		font-size: 20px;
		color: #fff;
	}
}

.comment{
	padding-top:10px;
	position: relative;
	border-top: 1px solid #4e515d
}

.comUser{
	width: 50px;
	position: absolute;
	border-radius: 50px;
}

.comTop{
	position: relative;
	left: 60px;
	font-size: 14px;
	color:#bfbfbf;
}

.like{
	position: absolute;
	top: 10px;
	right: 0;
	font-size: 14px;
	color: #bfbfbf;
}

.userCom{
	color: #fff;
	font-size: 16px;
	display: block;
	padding-left:60px;
}

.comTime{
	padding-left: 60px;
	font-size: 14px;
	color: #4e515d;
}
</style>
